%header
    %nav
        =link_to t('.home'), root_path
        %span= t('.delimiter')
        =link_to t(".contact"), contact_path
        %span= t('.delimiter')
        =link_to t(".athletes"), athletes_path

    