/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 $font: 'Times New Roman', 'Times', serif;
 $color: #CAE7DF;
 $header-color: #FCC133;
 $footer-color: #FCC133;
 $font-sizeheader: 25px;

 body {
    font-family: $font;
    position: relative;
    min-height: 100%;
    margin: 0px;
    background-color: $color;
}
div#myID{
     min-height: calc(100vh - 166px);
}
main {    
    margin: 0px;
    padding: 20px;
}

nav{
    font-size: $font-sizeheader;    
    padding: 10px;
}

h1 {
    text-transform: uppercase;
}

header {
     background-color: $header-color;
}

footer{
    height: 50px;
    background-color: $footer-color;
}

form label, form input {
    display: block;
    margin: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid#ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
p#center{
    text-align: center;
    margin: 0px;
}